{% if breadcrumbs %}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
            {% for crumb in breadcrumbs %}
            {% if forloop.last %}
            <li class="breadcrumb-item active" aria-current="page">{{ crumb.title }}</li>
            {% else %}
            <li class="breadcrumb-item"><a href="{{ crumb.url }}">{{ crumb.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ol>
    </div>
</nav>
{% endif %}
